/* global START */
main {
    font-family: 'assistant', sans-serif;
}

nav, h3 {
    font-family: 'heebo', sans-serif;
    color: #00a388;
}

p {
    opacity: 0.9;
}
/* global END */

/* header START */

header {
    position: relative;
}

.jumbotron {
    background: url(../img/purple-flowers.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.5);
}

h1 {
    font-family: 'heebo', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #fff;
    opacity: 0.8;
    text-shadow: 0 0 8px black;
}

#down-arrow {
    color: #fff;
    text-shadow: 0 0 8px black;
    opacity: 0.8;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 70px;
}

/* header END */
/* benefits START */

.fa-grin, .fa-handshake, .fa-award {
    font-size: 45px;
}

.fa-grin {
    color: #105b63;
}

.fa-handshake {
    color: #105b63;
}

.fa-award {
    color: #105b63;
}
/* benefits END */
/* CTA START */
#anchor {
    display: block;
    position: relative;
    bottom: 120px;
    visibility: hidden;
}

#cta {
    margin-top: -2rem;
}

#cta #cta-wrap {
    background-color: #bd4932;
    border-radius: 10px;
    transform: translateY(50%);
    z-index: 100;
}

.gold {
    background-color: #ffd34e;
    color: #3D3934!important;
    font-weight: bold;
}

.gold:active {
    opacity: 0.8;
}

#cta .missing::placeholder {
    color: red;
    font-weight: bold;
}
/* CTA END */
/* services START */
#services {
    background-color: #fffbec;
}

#services .service-item {
    height: 40vw;
    background-size: 100% auto;
    background-clip: content-box;
}

#services .overlay {
    background-color: rgba(0,0,0,0);
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}

#services h3 {
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 6px black;
    font-size: 2.5rem;
    transform: translateY(40%);
    transition: all 0.3s 0.1s;
}

#services .underline {
    height: 2px;
    background-color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 6px black;
    opacity: 0;
    transform: translateY(7rem);
    transition: all 0.3s 0.1s;
}

#services .service-item p {
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 6px black;
    opacity: 0;
    transform: translateY(4rem);
    transition: all 0.3s;
}

#services .service-item:hover > .overlay {
    background-color: rgba(0,0,0,0.2);
}

#services .overlay:hover > h3 {
    transform: translateY(0);
    transition: all 0.3s;
}

#services .overlay:hover > .underline {
    opacity: 1;
    transform: translateY(2.8rem);
    transition: all 0.3s;
}

#services .overlay:hover > p {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s 0.1s;
}

#home-create {
    background: url(../img/yard-under-work.jpg) no-repeat center center;
}

#home-maintain {
    background: url(../img/mowing-lawn.jpg) no-repeat center center;
}

#home-fix {
    background: url(../img/towing-branches.jpg) no-repeat center center;
}

#home-irrigation {
    background: url(../img/pretty-yard.jpg) no-repeat center center;
}

#home-walkways {
    background: url(../img/white-flowers-green-walkway-bg.jpg) no-repeat bottom center;
}

#home-ground {
    background: url(../img/orange-flowers-rubbel-bg.jpg) no-repeat center center;
}

/* services END */
/* testimonials START */
.fa-quote-right, .fa-quote-left {
    color: #00a388;
}

#testimonials cite {
    color: #105b63;
}

/* testimonials END */
/* gallery START */

.product-slider #thumbcarousel {
    margin: 0;
    padding: 0;
}

.product-slider #thumbcarousel .item {
    text-align: center;
}

.product-slider #thumbcarousel .item .thumb {
    width: 16.66%;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
}

.product-slider #thumbcarousel .item .thumb:hover {
    opacity: 1;
}

.product-slider .item img {
    width: 100%;
    height: auto;
}

.controls {
    text-shadow: 0 0 4px black;
}

/* gallery END */
/* ABOUT */
#about {
    background-color: #fffbec;
}

#about .img-bg, #about .img-seperate {
    background: url(../img/trimmer-on-lawn.jpg) no-repeat center center;
    background-size: cover;
    background-clip: content-box;
    min-height: 320px;
}

#about .img-bg h3,
#about .img-bg p {
    color: #fff;
    text-shadow: 0 0 4px black;
}
/* /ABOUT */
/* FOOTER */
footer {
    background: linear-gradient(#3d3934, #105b63);
    color: #fffbec;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.5);
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #fffbec;
}

footer a:hover {
    color: #00a388;
    text-decoration: none;
}

footer a:active {
    opacity: 0.8;
}

footer .icons {
    height: 100%
}

/* /FOOTER */

/* MEDIA QUERIES */

/* form wrap START */
@media screen and (max-width: 470px) {
    #cta .form-wrap {
        display: block!important;
    }
    #services {
        padding-top: 3rem!important;
    }   
    #cta {
        margin-top: -4rem;
    }
}
/* form wrap size END */
/* landscape size START */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 4.5rem;
    }
}
/* landscape size END */
/* tablet size START */
@media screen and (min-width: 768px) {
    #services .service-item {
        height: 25vw;
    }

    #cta {
        margin-top: 0;
    }
}
/* tablet size END */
/* desktop size START */
@media screen and (min-width: 992px) {
    #services .service-item {
        height: 20vw;
    }

    #about .img-bg {
        background: none;
    }

    #about .img-bg h3 {
    text-shadow: none;
    color: #00a388;
    }

    #about .img-bg p {
    text-shadow: none;
    color: #212529;
    }
}
/* desktop size END */