/* COLORS
white #FFFBEC
light green #00A388
dark green #105B63
red #BD4932
yellow #FFD34E
black #3D3934 */

/* global START */
main {
    font-family: 'assistant', sans-serif;
}

nav, h3 {
    font-family: 'heebo', sans-serif;
    color: #00a388;
}

p {
    opacity: 0.9;
}

/* global END */

/* header START */

.jumbotron {
    background: url(../img/swimming-school.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh
}

h1 {
    font-family: 'heebo', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #fff;
    opacity: 0.8;
    text-shadow: 0 0 8px black;
}
/* header END */
/* navbar START */
.navbar {
    background-color: #3d3934;
    position: sticky;
    top:54px;
    z-index: 1020;
    transform: translateY(-54px);
    /* margin-bottom: -100%; */
}

.fa-home {
    font-size: 20px
}

#responsive-contact:active {
    opacity: 0.6;
}

.nav-link, .fa-bars, .fa-home {
    color: #fffbec;
}

.nav-link:hover, .fa-bars:hover, .fa-home:hover {
    color: #ffd34e;
    outline: none;
}

.nav-link:focus, .fa-bars:focus, .fa-home:focus {
    color: #ffd34e;
    outline: none;
}


.gold {
    background-color: #ffd34e;
    color: #3D3934!important;
    font-weight: bold;
}

.gold:hover {
    color: #fffbec;
}

.gold:active {
    opacity: 0.8;
}
/* navbar END */
/* benefits START */

.fa-grin, .fa-handshake, .fa-award {
    font-size: 45px;
}

.fa-grin {
    color: #105b63;
}

.fa-handshake {
    color: #105b63;
}

.fa-award {
    color: #105b63;
}
/* benefits END */
/* CTA START */
#cta .col {
    background-color: #bd4932;
    border-radius: 10px;
    transform: translateY(50%);
    z-index: 100;
}
/* CTA END */
/* services START */
#services {
    background-color: #fffbec;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#services .col-12 {
    background: url(../img/swimming-school.jpg) no-repeat center center;
    height: 40vw;
    background-size: cover;
    background-clip: content-box;
}

#services h3 {
    color: #fff;
    text-shadow: 0 0 6px black;
}

/* services END */
/* testimonials START */
.fa-quote-right, .fa-quote-left {
    color: #00a388;
}

#testimonials cite {
    color: #105b63;
}

/* testimonials END */



/* gallery START */

.product-slider #thumbcarousel {
    margin: 0;
    padding: 0;
}

.product-slider #thumbcarousel .item {
    text-align: center;
}

.product-slider #thumbcarousel .item .thumb {
    width: 16.66%;
    margin: 0;
    display: inline-block;
    /* vertical-align: middle; */
    cursor: pointer;
    /* max-width: 98px; */
}

.product-slider #thumbcarousel .item .thumb:hover {

}

.product-slider .item img {
    width: 100%;
    height: auto;
}
/* gallery END */




/* MEDIA QUERIES */

/* landscape size START */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 4.5rem;
    }
}
/* landscape size END */
/* tablet size START */
@media screen and (min-width: 768px) {
    #services .col-12 {
        height: 25vw;
    }
}
/* tablet size END */
/* desktop size START */
@media screen and (min-width: 992px) {
    #services .col-12 {
        height: 20vw;
    }
}
/* desktop size END */